.search-results {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    margin-left: 14%;
  }
  
  .search-result-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .product-image {
    margin-right: 10px;
    border-radius: 4px;
  }
  
  strong {
    margin-right: 5px;
  }
  .searchbar{
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    margin-left: 13%;
    background-color: #E5E0DD;
    margin-bottom: 2%;
    color: #030303;
}