.heros{
    background-color: #C4DBE1;
    color: #030303;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1% 1% 1% 1%;
    padding: 1%;
}
.text h1{
    font-family: "Playfair Display", serif;
    font-size: 85px;
}
.text p{
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 30px;
}
.products img{
    width: 90%;
}
main{
    background-color: #FAFAFA;
}
.jew h2,.decor h2,.ceramic h2,.clothing h2{
    color: #030303;
    font-family: "Playfair Display", serif;
    font-size: 70px;
    text-align: center;
}
.jew p,.decor p,.ceramic p,.clothing p{
    color: #030303;
    font-family: "Roboto", sans-serif;
}
.jew{
    background-color: #C9C1BD;
}
.decor{
    background-color: #F2EEEB;
}
.ceramic{
background-color: #C4DBE1;
}
.clothing{
    background-color: #8f9d86;
}
.clothing, .ceramic, .decor, .jew{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    margin: 1% 1% 1% 1%;
    padding: 1%;
    font-size: 50px;
}
.clothing img, .jew img{
    grid-row: 1/4;
    margin-left: 4%;
}
.ceramic img, .decor img{
    grid-row: 1/4;
    grid-column: 2;

}
.clothing button{
    background-color: #8f9d86;
}
.ceramic button{
    background-color: #C4DBE1
}
 
.jew button{
    background-color: #C9C1BD
}